<h2>Surveys!</h2>

<form action='/surveys' method='post'>
  <label for='description'>Enter Survey Name</label>
  <input id='description' name='description' type='text'>
  <button type='submit'>Add</button>
</form>

<ul>
  <% @surveys.each do |survey|%>
    <li>
      <a href="surveys/<%=survey.id()%>"><%= survey.description() %></a>
      <form action="/surveys/<%=survey.id()%>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit">Delete Survey</button>
      </form>
    </li>
  <% end %>

</ul>
