<h2>Edit Survey: <i><b><%= @my_survey.description %></b></i></h2>

<form action='/surveys/<%=@id%>' method='post'>
  <label for='description'>Change Survey Name</label>
  <input id='description' name='description' type='text'>
  <button type='submit'>Change</button>
</form>

<% if @my_survey.questions.any? %>
  <ul>
    <p>The following questions have been added to your survey.</p>
    <% @surveys.questions.each do |question|%>
      <li>
        <a href="questions/<%=question.id()%>"><%= question.description() %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no questions for this Survey yet.</p>
<% end %>
<p> dummy add questions text </p>
<p> dummy delete survey button </p>
